
{% extends 'base.html' %}
{% block content %}
    <h1 class="text-light">Chat admin</h1>

    {% if perms.user.add_user %}
        <div class="mt-8"> 
            <h2 class="mb-4 text-warning">Users</h2>

            <a href="{% url 'chat:add_user' %}" class="nav-link d-inline-block py-2 px-6 bg-info text-black h5 rounded border border-2 border-light mb-4"> ADD USER</a>

            <div class="p-2">
                {% for user in users %}
                <div class="row py-2 {% cycle 'border border-light rounded' '' %}">
                    <div class="col-3 px-2 text-light">
                        <a href="{% url 'chat:user_detail' user.pk %}" class="text-light text-decoration-none">{{ user.name }}</a>
                    </div>
                
                    <div class="col-3 px-2 text-light">{{ user.email }}</div>
                
                    <div class="col-3 px-2 text-light">{{ user.get_role_display }}</div>
                    <div class="col-3 px-2 text-end">
                        {% if perms.user.edit_user %}
                            <a href="{% url 'chat:edit_user' user.pk %}" class="text-decoration-underline text-light">Edit</a>
                        {% endif %}
                    </div>

                </div>


                {% endfor %}

            </div>
        </div>

    {% endif %}
    <hr class="my-6 bg-light">
    <div class="mt-8">
        <h2 class="mb-4 text-light">Rooms</h2>

        {% include 'partials/room_list.html' %}
    </div>

{% endblock %}