{% extends 'base.html' %}

{% block content %}
<div class="container-sm border border-light">
<h1 class="mb-4 mt-4 text-light text-center">LOGIN</h1>

<form method="post" action=".">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_email" class="form-label text-light ">Email</label>
        <input type="email" name="email" id="id_email" class="form-control bg-dark" placeholder="Enter Your Email">
    </div>

    <div class="mb-3">
        <label for="id_password" class="form-label text-light ">Password</label>
        <input type="password" name="password" id="id_password" class="form-control bg-dark" placeholder="Enter your password">
    </div>

    {% if form.errors or form.non_field_errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-warning w-50 mb-4">SUBMIT</button>
    </div>
</form>
</div>
{% endblock %}