<div class="container">
    <div class="row">
        {% for room in rooms %}
            <div class="col-md-3 mb-4">
                <div class="p-4 rounded {% if room.status == 'waiting' %}border border-success text-light border-2{% elif room.status == 'active' %}border border-warning text-light border-2{% else %}border border-light text-light border-2{% endif %}">
                    <h4 class="mb-4">Chat</h4>
                    <p>
                        <b>ID: </b>{{ room.uuid }}<br>
                        <b>Name: </b>{{ room.client }}<br>
                        <b>Status: </b>{{ room.get_status_display }}<br>
                        <b>Agent: </b>{% firstof room.agent.name 'None yet...' %}
                    </p>

                    <div class="d-flex justify-content-between">
                        <a href="{% url 'chat:room' room.uuid %}" class="btn btn-outline-info me-2 w-50">Join</a>
                        <a href="{% url 'chat:delete_room' room.uuid %}" class="btn btn-outline-danger w-50">Delete</a>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>